{% extends 'accounts/base.html' %}

{% block auth_content %}
  <div class="col-sm-12 col-xs-12 col-md-5 col-lg-4">
    <div class="h3 text-center mb-4">Logowanie</div>
    <form method="POST" action="{% url 'signin' %}">
      {% csrf_token %}
      <div class="form-group">
        <input id="username" type="username" name="username"
                class="bg-dark text-white-50 form-control py-3" 
                required autofocus 
                placeholder="Podaj nazwę użytkownika.">
      </div>
      <div class="form-group">
        <input id="password" type="password" name="password"
        class="bg-dark text-white-50 form-control py-3"
        placeholder="Podaj hasło.">
      </div>   
      <input id="timeZone" name="timeZone" value="" type="hidden">
      <div class="pt-1"></div>
      <div class="d-grid gap-2 mt-4">
        <!-- <button type="submit" class="mt-4 auth-btn btn-primary btn-block"> -->
          <button type="submit" class="btn btn-primary">
          Zaloguj
        </button>
    </div>
    </form>
    <div class="h3 text-center mb-4">{{ login_info }}</div>
    </div>
{% endblock %}

{% block page_script %}
  <script type="text/javascript">
    $(document).ready(function() {
        var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        document.getElementById("timeZone").value = timezone;
    });
  </script>
{% endblock %}