html, body {
    background-color: #171717;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.auth-center {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;  
    min-height: 100vh;
    /* height: 100vh; */
  }

  .auth-title {
    font-family: 'Nunito', sans-serif;
    font-size: 84px;
    text-align: center;
    color: #636b6f;
  }

  .auth-border-login{
    border-right:1px solid #fff;
    min-height:450px;
    float:right;
  }

  .form-group {
    margin-bottom: 1rem;
  }